.center {
  display:block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

body {
  background-color: whitesmoke;
}

.col {
  column-count: 3;
  column-gap: 4em;
  column-rule: 2px solid rgb(13, 13, 13);
  column-width: 200px;
}

img {
  width: 100%;
}

h3 {
  text-decoration-line: underline;
  text-decoration-color: green;
  text-align: left;
  text-indent: 50px;
 font-family: "Times New Roman", Times, serif;

}

.fikret {
  text-transform: uppercase;
}

h2 {
  color: white;
  text-shadow: 1px 1px 2px rgb(248, 245, 245), 0 0 25px rgb(242, 242, 247), 0 0 5px darkblue;
  text-align: center;
  background-color: rgb(18, 18, 19);
}

h1 {
    text-indent: 50px;



}
